<div>
    <br>
    <mat-card>
        <form [formGroup]="createForm" class="create-form">
            <div>
                <section class="mat-typography">
                    <h3>Reserva tu vuelo</h3>
                </section>
                <mat-divider></mat-divider>
                <br>
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                    <div fxFlex="24">
                        <mat-form-field class="field-full-width">
                            <input matInput placeholder="Número de identificación" formControlName="identificationCard" [(ngModel)]="reservationQuery.identificationCard"
                                #identificationCard>
                        </mat-form-field>

                        <mat-form-field class="field-full-width">
                            <input matInput type="Number" min="18" placeholder="Edad" formControlName="age" [(ngModel)]="reservationQuery.age" #age>
                        </mat-form-field>

                        <mat-form-field class="field-full-width">
                            <input matInput type="number" min="0" placeholder="Adultos" formControlName="adults" #adults [(ngModel)]="reservationQuery.adults">
                        </mat-form-field>
                    </div>
                    <div fxFlex="1"></div>
                    <div fxFlex="24">
                        <mat-form-field class="field-full-width">
                            <input matInput placeholder="Origen" formControlName="originCity" [(ngModel)]="reservationQuery.originCity" #originCity>
                        </mat-form-field>

                        <mat-form-field class="field-full-width">
                            <input [ngModelOptions]="{standalone: true}" required matInput [(ngModel)]="reservationQuery.checkOutTime" [matDatepicker]="checkOutTime"
                                placeholder="Ida">
                            <mat-datepicker-toggle matSuffix [for]="checkOutTime"></mat-datepicker-toggle>
                            <mat-datepicker type="datetime" #checkOutTime></mat-datepicker>
                        </mat-form-field>


                        <mat-form-field type="number" min="0" class="field-full-width">
                            <input matInput placeholder="babies" formControlName="babies" [(ngModel)]="reservationQuery.babies" #babies>
                        </mat-form-field>
                    </div>
                    <div fxFlex="1"></div>
                    <div fxFlex="24">
                        <mat-form-field class="field-full-width">
                            <input matInput placeholder="Destino" formControlName="destinationCity" [(ngModel)]="reservationQuery.destinationCity" #destinationCity>
                        </mat-form-field>


                        <mat-form-field class="field-full-width">
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="reservationQuery.timeOfArrival" matInput [matDatepicker]="timeOfArrival"
                                placeholder="Vuelta">
                            <mat-datepicker-toggle matSuffix [for]="timeOfArrival"></mat-datepicker-toggle>
                            <mat-datepicker type="datetime" #timeOfArrival></mat-datepicker>
                        </mat-form-field>


                        <mat-form-field class="field-full-width">
                            <input matInput type="number" min="0" placeholder="Niños" formControlName="children" [(ngModel)]="reservationQuery.children"
                                #children>
                        </mat-form-field>
                    </div>
                    <div fxFlex="1"></div>
                    <div fxFlex="24">
                        <mat-form-field class="field-full-width">
                            <mat-select placeholder="Cabina" formControlName="servicesType" [(ngModel)]="reservationQuery.servicesType" #servicesType>
                                <mat-option value="ECONOMIC">Economica</mat-option>
                                <mat-option value="EXECUTIVE">Ejecutiva</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <br>
                <br>
                <button type="submit" (click)="sarchFlight(createForm)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button
                    color="primary">Buscar tu vuelo</button>
            </div>
        </form>
    </mat-card>

    <br>
    <br>
    <br>
    <div *ngIf="showNotFound">
        No encontramos vuelos disponibles para tu búsqueda
    </div>

    <table class="tableResponse" *ngIf="!showNotFound && reservationResponse">
        <thead>
            <th>codigo</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Ida</th>
            <th>Vuelta</th>
            <th>Adultos</th>
            <th>Niños</th>
            <th>Bebes</th>
            <th>Costo</th>
            <th>Reservar</th>
        </thead>
        <tbody class="tableBody">
            <tr *ngFor="let item of reservationResponse">
                <td>{{item.code}}</td>
                <td>{{item.originCity}}</td>
                <td>{{item.destinationCity}}</td>
                <td>{{item.checkOutTime | date:'medium'}}</td>
                <td>{{item.timeOfArrival | date:'medium'}}</td>
                <td>{{item.adults}}</td>
                <td>{{item.children}}</td>
                <td>{{item.babies}}</td>
                <td>{{item.cost}}</td>
                <td>
                    <button type="button" (click)="reservation(item.id, item.cost)" mat-raised-button color="primary">Reservar</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>