<br>
<br>
<br>
<div *ngIf="showNotFound">
    No encontramos vuelos disponibles
</div>
<table class="tableResponse" *ngIf="!showNotFound && flights">
    <thead>
        <th>codigo</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Ida</th>
        <th>Vuelta</th>
        <th>Adultos</th>
        <th>Niños</th>
        <th>Bebes</th>
        <th>Costo</th>
    </thead>
    <tbody class="tableBody">
        <tr *ngFor="let item of flights">
            <td>{{item.code}}</td>
            <td>{{item.originCity}}</td>
            <td>{{item.destinationCity}}</td>
            <td>{{item.checkOutTime | date:'medium'}}</td>
            <td>{{item.timeOfArrival | date:'medium'}}</td>
            <td>{{item.adults}}</td>
            <td>{{item.children}}</td>
            <td>{{item.babies}}</td>
            <td>{{item.cost}}</td>

        </tr>
    </tbody>
</table>