.content {
  text-align: center;
  margin: 30px;
}
.icon {
  color: rgb(91, 163, 91);
  font-size: 90px;
  text-align: center;
  margin: 40px 40px 40px 10px;
}

.menssage {
  text-align: center;
}
.btn {
  text-align: center;
}
