<h2 mat-dialog-title></h2>
<mat-dialog-content class="content">
    <mat-icon class="icon">{{icon}}</mat-icon>

    <p class="menssage">

        {{menssage}}
    </p>
</mat-dialog-content>
<mat-dialog-actions class="btn">
    <button class="mat-raised-button " (click)="close()">
        Cerrar
    </button>
</mat-dialog-actions>