<!--The content below is only a placeholder and can be replaced.-->





<div fxLayout="row" >
    <div fxFlex="10"></div>
    <div fxFlex>

        <mat-nav-list class="rowList">
            <a mat-list-item routerLink="/">Vuelos</a>
          
            <a mat-list-item routerLink="/create-reservation">Reservar</a>
            <a mat-list-item routerLink="/reservations">Consultar reserva</a>
          </mat-nav-list>
        <router-outlet></router-outlet>

    </div>
    <div fxFlex="10"></div>
    </div>




