.tableResponse {
  width: 100%;
}
.tableResponse th {
  height: 40px;
  color: #5f5f5f;
}
.tableBody {
  text-align: center;
}

.tableBody tr:nth-child(even) {
  background: #ccc;
}
.tableBody tr:nth-child(odd) {
  background: #fff;
}
