<mat-card>


  <form [formGroup]="createForm" class="create-form">
    <div>
      <section class="mat-typography">
        <h3>Consultar tu reserva</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="10"></div>
        <div fxFlex="30">
          <mat-form-field class="field-full-width">
            <input matInput placeholder="Número de identificación" formControlName="identificationCard" [(ngModel)]="reservationQuery.identificationCard"
              #identificationCard>
          </mat-form-field>
        </div>
        <div fxFlex="1"></div>
        <div fxFlex="30">
          <button type="submit" (click)="getReservation(createForm)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button
            color="primary">Buscar reserva</button>
        </div>
        <div fxFlex="10"></div>
      </div>
      <mat-divider></mat-divider>
      <br>
      <br>
    </div>
  </form>
</mat-card>

<br>
<br>
<br>
<div *ngIf="showNotFound">
  No encontramos reservas asociadas a tu documento
</div>
<table class="tableResponse" *ngIf="!showNotFound && reservationResponse">
  <thead>
    <th>Vuelo</th>
    <th>Origen</th>
    <th>Destino</th>
    <th>Ida</th>
    <th>Vuelta</th>
    <th>Adultos</th>
    <th>Niños</th>
    <th>Bebes</th>
    <th>Costo</th>
  </thead>
  <tbody class="tableBody">
    <tr *ngFor="let item of reservationResponse">
      <td>{{item.flight}}</td>
      <td>{{item.originCity}}</td>
      <td>{{item.destinationCity}}</td>
      <td>{{item.departureDate | date:'medium'}}</td>
      <td>{{item.returnDate | date:'medium'}}</td>
      <td>{{item.adults}}</td>
      <td>{{item.children}}</td>
      <td>{{item.babies}}</td>
      <td>{{item.cost}}</td>
    </tr>
  </tbody>
</table>