/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
body {
    --bg-dialog: white;
    --primary: rgba(73, 200, 242, 1);
    --primary-contrast: #fff;
    --primary-a60: rgba(73, 200, 242, 0.6);
    --primary-a80: rgba(73, 200, 242, 0.8);
  }